#header-container {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  color: black;
  margin: 0 10px 10px 10px;
  border-radius: 10px;
}

#logo-search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2%;
  margin-left: 2%;
  width: 30%;
}

/* #search-engine {
  text-indent: 5px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 50px;
  border: none;
  background: #e4e6e9;
} */

#menu-container {
  display: flex;
  justify-content: space-between;
  margin-right: 2%;
  margin-left: 2%;
  width: 30%;
}