#post-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 10px 0;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#info {
  display: flex;
  align-items: center;
}

.post-header-item {
  margin-right: 10px;
  padding-left: 10px;
}

#name{
  margin-right: 10px;
}

#icon {
  color: #1976d2;
}
