.App {
  background-color: #282c34;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.profile-picture {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

#error-msg {
  color: red;
  margin-top: 5px;
}

#image-user-box {
  width: 100%;
  max-width: 40px;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
}