#profile-container {
  margin: 20px;
  height: 90%;
  border-radius: 10px;
  color: black;
  background-color: #ffffff;
}

#profile-picture {
  display: flex;
  justify-content: center;
}

#img {
  width: 250px;
  height: 250px;
}

#user-information-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 50%;
}

.user-specific-information-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2% 1% 2%;
  width: 60%;
}
