#posts {
  display: flex;
  margin-top: 20px;
  border-radius: 10px;
  background: #ffffff;
  color: black;
}

#head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#data {
  display: flex;
  align-items: center;
  width: 100;
  margin-left: 5px;
}

#name-hour {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#hour {
  font-size: smaller;
  color: #606770;
}

#icon-small {
  font-size: 10px;
  margin-left: 5px;
}

#name {
  display: flex;
  align-items: center;
}

#smaller-text {
  font-size: smaller;
  color: #395996;
}

#three-dots {
  margin-right: 5px;
}
