#pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 5px;
  border-radius: 10px;
  background: #ffffff;
  color: black;
}

.arrows {
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}

.numbers {
  padding-left: 12px;
  padding-right: 12px;
}
