#transactions-history-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background: #ffffff;
  color: black;
  margin: 10px 15px 10px 15px;
  padding: 2px;
}

.transaction-information-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#coin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

#transaction-central-information-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}