#account-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background: #ffffff;
  color: black;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#button-send-money {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #1976d2;
  color: black;
  height: 50px;
}

#button-send-money:hover {
  background-color: #1976d2;
}

#info-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#icon {
  display: flex;
}
