#account-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background: #ffffff;
  color: black;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#info-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#icon-money {
  display: flex;
  color: #ffffff;
}